@import "./mixins.scss";

.form-group {
  @include generate-flex-container(column, null, null, null, null, 8px);

  &row {
    @include generate-flex-container(column, null, null, null, null, 8px);
  }
  &column {
    @include generate-flex-container(column, null, null, null, null, 8px);
  }

  .error-message {
    font-size: 0.7rem;
    color: $alert-failed-color;
    text-align: left;
  }
}

.input-basic-login {
  @include generate-input(
    100%,
    41px,
    6px,
    1px solid $input-color-border,
    $secondary-color,
    null,
    15px
  );

  padding: 10px 20px;

  &:focus {
    outline: none;
  }

  &.error {
    border: 1px solid $alert-failed-color;
  }
}

.input-basic {
  @include generate-input(
    100%,
    41px,
    6px,
    1px solid $input-color-border,
    null,
    null,
    15px
  );

  padding: 10px 20px;

  &:focus {
    outline: none;
  }

  &.error {
    border: 1px solid $alert-failed-color;
  }
}

.input-group-basic {
  @include generate-input(
    100%,
    41px,
    0 6px 6px 0,
    1px solid $input-color-border,
    null,
    null,
    15px
  );
  border-width: 1px 1px 1px 0;
  padding: 10px 20px 10px 0;

  &:focus {
    outline: none;
  }

  &.error {
    border: 1px solid $alert-failed-color;
  }

}

.input-group-addon {
  display: flex;
  border: 1px solid #ccc;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
  padding: 0.5em 1em;
  justify-content: center;
  align-items: center;
}

.show-password {
  position: relative;

  .icon-showPassword {
    position: absolute;
    right: 0;
    margin: 10px;
  }
}
.container-input-group {
  display: flex;
  align-content: stretch;
}

.container-icon_error {
  position: relative;

  .icon-error {
    position: absolute;
    right: 0;
    margin: 8px 8px;
  }
}

.checkbox-basic {
  width: 15px;
  height: 15px;
}

.select-basic {
  @include generate-input(
    100%,
    41px,
    6px,
    1px solid $input-color-border,
    $secondary-color,
    null,
    15px
  );

  &:focus {
    outline: none;
  }

  &.error {
    border: 1px solid $alert-failed-color;
  }
}

.select-basic-black {
  @include generate-input(
    100%,
    41px,
    6px,
    1px solid $input-color-border,
    $color-black,
    null,
    15px
  );

  &:focus {
    outline: none;
  }

  &.error {
    border: 1px solid $alert-failed-color;
  }
}
