@import "./mixins.scss";

// text generalize

.text-main {
  font-family: $font-family-main;
  color: $main-color;

  &.tiny {
    font-size: 0.6em;
  }

  &.small {
    font-size: 0.7em;
  }

  &.medium {
    font-size: 0.8em;
  }

  &.big {
    font-size: 1em;
  }

  &.biggest {
    font-size: 1.25em;
  }

  &.large {
    font-size: 1.5em;
  }

  &.extra-large {
    font-size: 1.8em;
  }

  &.huge {
    font-size: 2em;
  }
}

.text-primary {
  font-family: $font-family-main;
  color: $primary-color;

  &.tiny {
    font-size: 0.6em;
  }

  &.small {
    font-size: 0.7em;
  }

  &.medium {
    font-size: 0.8em;
  }

  &.big {
    font-size: 1em;
  }

  &.biggest {
    font-size: 1.25em;
  }

  &.large {
    font-size: 1.5em;
  }

  &.extra-large {
    font-size: 1.8em;
  }

  &.huge {
    font-size: 2em;
  }
}

.text-black {
  font-family: $font-family-main;
  color: $color-black;
  text-align: left;

  &.tiny {
    font-size: 0.6em;
  }

  &.small {
    font-size: 0.7em;
  }

  &.medium {
    font-size: 0.8em;
  }

  &.big {
    font-size: 1em;
  }

  &.biggest {
    font-size: 1.25em;
  }

  &.large {
    font-size: 1.5em;
  }

  &.extra-large {
    font-size: 1.8em;
  }

  &.huge {
    font-size: 2em;
  }
}

.text-three {
  font-family: $font-family-main;
  color: $three-color;

  &.tiny {
    font-size: 0.6em;
  }

  &.small {
    font-size: 0.7em;
  }

  &.medium {
    font-size: 0.8em;
  }

  &.big {
    font-size: 1em;
  }

  &.biggest {
    font-size: 1.25em;
  }

  &.large {
    font-size: 1.5em;
  }

  &.extra-large {
    font-size: 1.8em;
  }

  &.huge {
    font-size: 2em;
  }
}

@media (max-width: 380px) {
  .text-item{
    font-size: 0.7rem;
    word-break: break-all;
  }
}

// tags a

.a-main {
  font-family: $font-family-main;
  color: $main-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.link {
    text-decoration: underline;
  }

  &.tiny {
    font-size: 0.6em;
  }

  &.small {
    font-size: 0.7em;
  }

  &.medium {
    font-size: 0.8em;
  }

  &.big {
    font-size: 1em;
  }

  &.biggest {
    font-size: 1.25em;
  }

  &.large {
    font-size: 1.5em;
  }

  &.extra-large {
    font-size: 1.8em;
  }

  &.huge {
    font-size: 2em;
  }
}

.text-dasboard{
  font-family: $font-family-main;
  color: $secondary-color;
  
  &.tiny {
    font-size: 0.5rem;
  }

  &.small {
    font-size: 0.6rem;
  }

  &.medium {
    font-size: 0.7rem;
  }

  &.big {
    font-size: 0.9rem;
    margin: 5px;
  }

  &.biggest {
    font-size: 1.15rem;
  }

  &.large {
    font-size: 1.2rem;
  }

  &.extra-large {
    font-size: 1.7rem;
  }

  &.huge {
    font-size: 2rem;
  }

}

@media (max-width: 1023px) {
  .text-dasboard{
    color: $main-color;

    &.big {
      font-size: 0.75rem;
      margin: 5px;
      color: #3b3b3b;
    }

    &.large {
      font-size: 1rem;
    }

    &.huge {
      font-size: 1.8rem;
    }
  }
}
